.footer {
  margin-top: 10px;
  background-color: #f8f8f8;
  display: flex;
  flex-direction: row;
  /* position:absolute; */
  bottom: 0;
}
.footer h3 {
  font-size: 12px;
  margin: 8px auto 10px auto;
}

@media (max-width: 400px) {
  .footer {
    padding-bottom: 10px;
    padding-top: -5px;
    flex-direction: column;
  }
  .footer h3 {
    margin: 2px auto 0px auto;
  }
}
