.resource.grid {
  grid-template-columns: 8% 92%;
  justify-items: start;
}
.resource a {
  justify-self: start;
}
.linktree {
  /* margin-top: 100px; */
}
.link {
  max-width: 500px;
  /* background-color: var(--primayblue-color); */
  background-color: rgb(241, 242, 246);
  /* color: #000; */
  padding: 7px 10px;
  margin: 8px auto;
  border-radius: 5px;
  line-height: 1.4;
  font-size: 1.1rem;
  transition: transform 0.2s;
  font-weight: 400;
}
.link:hover {
  transform: scale(0.99);
}
.resource .left {
  text-align: left;
}
.left {
  display: grid;
  grid-template-columns: 5% 95%;
  gap: 10px;
}
.left .fas {
  color: #0a2540;
  grid-column: 1;
  grid-row: 1;
  margin-left: 0px;
  /* justify-self: center; */
  align-self: center;
}
.left a {
  grid-column: 2;
  grid-row: 1;
  font-weight: 410;
  font-size: 20px;
  color: #0a2540;
  font-family: "Source Sans Pro", sans-serif;
}
.container {
  /* background-color: var(--lightgrey-color); */
  box-shadow: 0px 3px 5px 1px rgba(50, 50, 93, 0.15);
  border-radius: 5px;
  max-width: 600px;
  padding: 10px;
  /* margin: 10px auto; */
}
h3 {
  font-weight: 500;
}
.fas,
.fab {
  color: #fff;
  margin-top: 3px;
  margin-left: 15px;
}
.featured .link {
  background-color: #0a2540;
}
/* section holding link to various resourtce mobile only  */
.hide .link {
  background: linear-gradient(
    to right,
    rgba(31, 188, 149, 0.53),
    rgba(131, 197, 200, 0.3),
    rgba(131, 197, 200, 0.1)
  );
  font-size: 1.08rem;
  margin: 6px auto;
  display: grid;
  grid-template-columns: 5% 83% 5%;
  gap: 10px;
}
.hide .fas,
.fab {
  grid-column: 1;
  grid-row: 1;
  color: #000;
  margin-top: 5px;
  font-size: 15px;
  margin-left: 0px;
}
.hide a {
  grid-column: 2;
  grid-row: 1;
  color: #000;
  font-weight: 400;
  text-align: left;
}
.left a {
  color: #000;
}
.hide .fa-chevron-right {
  grid-column: 3;
  grid-row: 1;
  float: right;
  margin-right: 10px;
}
@media (max-width: 400px) {
  .resource .grid {
    grid-template-columns: 5% 95%;
    text-align: left;
    gap: 30px;
  }
}
@media (min-width: 401px) {
  .hide {
    display: none;
  }
  .link {
    max-width: 500px;
  }
  .resource .grid {
    grid-template-columns: 20% 70%;
    gap: 30px;
  }
  .resource i {
    text-align: right;
  }
  .resource a {
    text-align: left;
  }
}
